name: CI/CD MLflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install \
            mlflow==2.19.0 \
            dagshub \
            scikit-learn \
            pandas \
            numpy

      - name: Run MLflow Project
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/auliahanasopia/student-performance-mlops.mlflow
          MLFLOW_TRACKING_USERNAME: auliahanasopia
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run . --env-manager=local

      - name: Get latest MLflow run_id
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/auliahanasopia/student-performance-mlops.mlflow
          MLFLOW_TRACKING_USERNAME: auliahanasopia
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          EXPERIMENT_ID=$(mlflow experiments search | awk '$2=="CI-MLflow-Project" {print $1}')

          if [ -z "$EXPERIMENT_ID" ]; then
            echo "Experiment CI-MLflow-Project not found"
            exit 1
          fi

          RUN_ID=$(mlflow runs list \
            --experiment-id $EXPERIMENT_ID \
            --max-results 1 | awk 'NR==2 {print $1}')

          if [ -z "$RUN_ID" ]; then
            echo "No MLflow run found"
            exit 1
          fi

          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Docker Model
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/auliahanasopia/student-performance-mlops.mlflow
          MLFLOW_TRACKING_USERNAME: auliahanasopia
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "${{ secrets.DOCKER_HUB_USERNAME }}/cc"

          docker tag "${{ secrets.DOCKER_HUB_USERNAME }}/cc" "${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest"
          docker push "${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest"
