name: Workflow CI MLflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install mlflow
          pip install -r MLProject/requirements.txt

      - name: Verify MLProject files
        run: |
          ls MLProject
          cat MLProject/MLproject

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

