name: workflow-ci-project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 dagshub scikit-learn pandas numpy

      - name: Run MLflow Project
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/auliahanasopia/student-performance-mlops.mlflow
          MLFLOW_TRACKING_USERNAME: auliahanasopia
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run . --env-manager=local

      - name: Get run_id
        run: |
          RUN_ID=$(cat run_id.txt)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Using run_id: $RUN_ID"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Docker Image
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/auliahanasopia/student-performance-mlops.mlflow
          MLFLOW_TRACKING_USERNAME: auliahanasopia
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "${{ secrets.DOCKER_HUB_USERNAME }}/cc"

          docker push "${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest"

