name: workflow-ci-project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CSV_URL: "studentmat_preprocessing.csv"
  TARGET_VAR: "G3"
  # Set tracking URI secara global agar build-docker tahu tempat mencari model
  MLFLOW_TRACKING_URI: "dagshub.com"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 dagshub scikit-learn pandas numpy seaborn

      - name: Run MLflow Project
        id: train_model
        env:
          DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Jalankan mlflow dan simpan output ke log
          OUTPUT=$(mlflow run . --env-manager=local)
          echo "$OUTPUT"
          # Ambil RUN_ID dari output print di modelling.py
          RID=$(echo "$OUTPUT" | grep "RUN_ID_TAG:" | cut -d':' -f2)
          echo "RUN_ID=$RID" >> $GITHUB_ENV

      - name: Build Docker Model
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Build docker mengambil model langsung dari DagsHub menggunakan RUN_ID
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "cc"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker Image
        run: |
          docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest

