name: CI/CD MLflow

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 dagshub scikit-learn pandas numpy

      - name: Run MLflow Project
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/auliahanasopia/student-performance-mlops.mlflow
          MLFLOW_TRACKING_USERNAME: auliahanasopia
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run . --env-manager=local

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Docker Model
        run: |
          mlflow models build-docker \
            --model-uri "models:/student-performance-model/Production" \
            --name "${{ secrets.DOCKER_HUB_USERNAME }}/cc"

          docker push "${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest"
